<section class='card'>
  <div class='Osyalista card-body'>
    <h1 class='Osyalista--Name card-title'><%= @osyalista[0].name %></h1>
    <p class='Osyalista--Gender badge rounded-pill bg-danger'>
      <i class='fas fa-female'></i><%= @osyalista[0].gender %>
    </p>
    <p class='Osyalista--Height badge rounded-pill bg-secondary'>
      <i class='fas fa-arrows-alt-v'></i><%= @osyalista[0].height %> cm
    </p><br />
    <p class='Osyalista--Store badge rounded-pill bg-secondary'>
      <%= link_to "https://goo.gl/maps/#{@osyalista[0].gu_store.google_map}", target: '_blank' do %>
        <i class='fas fa-map-marker-alt'></i><%= @osyalista[0].gu_store.name %>
      <% end %>
    </p><br />

    <%= link_to "https://www.gu-global.com/jp/ja/styling/staff/#{@osyalista[0].staff_id}", target: '_blank', class: 'Osyalista--Button btn btn-outline-primary' do %>
      <i class='fas fa-external-link-alt'></i>コーディネート一覧
    <% end %>
    <%= link_to "tel:#{@osyalista[0].gu_store.phone}", class: 'Osyalista--Phone text-muted' do %>
      <i class='fas fa-phone'></i>お問い合わせ
    <% end %>
  </div>
</section>

<!-- <section id='Contents' class='container'>
  <div class='Search'>
    <h1 class='Search--Title'><i class='Search--Font_Icon fas fa-circle'></i> 絞り込み検索</h1>
    <%= form_with url: gu_staffs_path, method: 'POST', local: true do |form| %>
      <p class='Search__Box'>
        <i class='Search--Font_Icon far fa-circle'></i> 性別：
        <%= form.radio_button :gender, '女性', class: 'form-check-input' %>
        <%= form.submit '女性', class: 'Search--Text_Link' %>，
        <%= form.radio_button :gender, '男性', class: 'form-check-input' %>
        <%= form.submit '男性', class: 'Search--Text_Link' %>
      </p>

      <p class='Search__Box'>
        <i class='Search--Font_Icon far fa-circle'></i> 所属店舗：
        <%= form.collection_select :store, GuStore.readonly.select(:id, :name), :id, :name, prompt: '未選択' %>
      </p>

      <p class='Search__Submit'>
        <%= form.submit '※デフォルトに戻す※', class: 'Search--Text_Link Search__Submit--Default text-muted' %>
        <%= form.submit '検索', class: 'Search__Submit--Btn btn btn-outline-dark' %>
      </p>
    <% end %>
  </div>

  <article class='Osyalista card'>
    <% @osyalista.each do |staff| %>
      <div class='Osyalista__Card card-body'>
        <h1 class='Osyalista__Card--Name card-title'><%= staff.name %></h1>
        <div class='Osyalista__Card__Icon'>
          <% if staff.gender == '女性' %>
            <p class='badge rounded-pill bg-danger'><%= staff.gender %></p>
          <% elsif staff.gender == '男性' %>
            <p class='badge rounded-pill bg-primary'><%= staff.gender %></p>
          <% end %>
          <p class='badge rounded-pill bg-secondary'>身長：<%= staff.height %> cm</p><br />
          <p class='badge rounded-pill bg-secondary'>
            <%= staff.gu_store.name %>
            <%= link_to '[TEL]', "tel:#{staff.gu_store.phone}", class: 'Osyalista__Card--Phone' %>
          </p>
        </div>
        <p class='Osyalista__Card--Address text-muted'>
          <%= staff.gu_store.address %>（<%= link_to 'マップ', "https://goo.gl/maps/#{staff.gu_store.google_map}", target: '_blank', class: 'text-muted' %>）
        </p>
        <%= link_to 'おしゃリスタ 詳細ページ', "https://www.gu-global.com/jp/ja/styling/staff/#{staff.staff_id}", target: '_blank', class: 'Osyalista__Card--Link btn btn-outline-primary' %>
      </div>
    <% end %>
  </article>
</section> -->
